
.center{
    margin: 40px auto;
    max-width: 800px;
    width: 100%;
    padding: 0 2%;
    min-height: 590px;
    border: 1px solid black;
}
.clear{
    clear: both;
}

h2{
    background-color: rgb(231, 229, 229);
    padding: 5px;
    font-size: 22px;
    margin: 10px 0;
    box-shadow: -1px 7px 5px -2px rgba(0,0,0,0.60);
}
fieldset{
    margin-top: 29px;
    padding: 19px 39px;
    background-color: rgb(255, 255, 246);
    box-shadow: 4px 6px 5px -2px rgba(0,0,0,0.55);
}
span{
    color: red;
    font-weight: bold;
    font-size: 17px;
}
legend{
    margin-left: 2px;
    font-size: 17px;
    font-weight: bold;
}
label{
    font-size: 15px;
    font-weight: bold;
}
.box{
    margin-bottom: 20px;
}
.btn-box{
    text-align: center;
    margin-top: 30px;
}

input[type=reset],
input[type=submit]{
    margin: 0 15px;
    background-color: rgb(204, 197, 197);
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
}
